<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>主界面</title>
  <!-- ========== Css Files ========== -->
  <link href="css/root.css" th:href="@{/happy/css/root.css}" rel="stylesheet">
  </head>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="img/loading.gif" th:href="@{/happy/img/loading.gif}" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- 头部信息 -->
<div th:replace="common/header :: top"></div>
<!-- 头部信息 结束 -->
<!-- 左侧导航栏 开始-->
<div th:replace="common/navigationBar :: navigationBar"></div>
<!-- 左侧导航栏  结束-->
<!-- 内容区域 开始 -->
<div class="content">


    121
    <div class="container-widget">
dfsfvfv
    </div>







    <!-- 底部区域  开始 -->
    <div th:replace="common/footer::footer"></div>
</div>

</body>
</html>